# Indicate that this is the top-most EditorConfig file
root = true

# Global defaults for all file types
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go-specific settings
[*.go]
indent_style = tab
indent_size = 4
tab_width = 4

